{{define "main"}}
<script type="module">
import {PaylinkButton} from "https://pay.raisenow.io/button.js"
PaylinkButton.render('#rnw-paylink-button', {'solution-id': "nysvx", 'solution-type': "pay", language: "fr", size: "large", width: "fixed", 'color-scheme': "dark"})
</script>
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <p>{{.Params.subTitle | safeHTML }}</p>
        </div>
      </div>
    </div>
    
    </div>
  </div>
</section>
{{end}}
