{{with .Site.Data.espace}}
{{if .enable}}
<section class="espace" id="espace">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h2>{{ .title | safeHTML }}</h2>
          <p>
            {{.subtitle | safeHTML}}
          </p>
        </div>
      </div>
    </div>
</section>

<section class="story">
  <div class="container">
    <div class="row">
      {{ range $index, $element := .features }}
      <div class="col-lg-4 col-md-6">
        {{if .image}}
        <img src="{{ .image | absURL }}" alt="images" style="width: 100%;">
        {{end}}
        <h3>{{$element.feature | safeHTML}}</h3>
        <div class="story-content">
          {{$element.description | safeHTML}}
        </div>
      </div>
      {{end }}
    </div>
  </div>
</section>

{{end}}
{{end}}