{{ with .Site.Data.service}}
{{ if .enable}}
<script type="module">
import {PaylinkButton} from "https://pay.raisenow.io/button.js"
PaylinkButton.render('#rnw-paylink-button-new-member', {'solution-id': "nysvx", 'solution-type': "pay", language: "fr", size: "large", width: "fixed", 'color-scheme': "dark"})
</script>
<section class="service" id="service">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
         <h2> {{.title }} </h2>
          <p>
              {{.subtitle | safeHTML}}
          </p>
        </div>
        <div class="cta-content">
          <p style="padding-bottom: 50px;">L'Amicale du Wifi est un projet de l'association « Fully Coworking ». Ses fondateurs vivent le télétravail et pratiquent le coworking depuis plus de 10 ans. Avec cet espace, l'association veut contribuer à relocaliser l'activité professionnelle au centre du village, créer des liens dans la communauté locale et démocratiser le travail à distance de qualité.
          </p>
          <h2>Devenez membre de l'association</h2>
          <p>
            Soutenez votre espace de coworking local en devenant membre de l'association à but non lucratif « Fully Coworking » pour 1 an. Vous serez invité à deux événements exclusifs par an et serez informés de l'évolution de l'association.
          </p>
          </br/>
          <div id="rnw-paylink-button-new-member"></div>
          </br/>
          <p style="padding-bottom: 50px;">Nous confirmerons votre nouveau statut par email.</p>
        </div>
      </div>
      {{ range .services}}
      <div class="col-lg-4 col-md-6">
        <div class="service-item">
          <i class="{{ .icon }}" aria-hidden="true"></i>
          <h3>{{ .name }}</h3>
          <p>
              {{.description | safeHTML}}
          </p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}
